/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Lato', serif;
  color: #222;
  background: url('../images/BG.jpg') center fixed;
  width: 960px;
}

#index{
  background: #e2e2e2;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 960px;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

#maria {
  text-align: center;
  background: url('../images/Maria.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  text-align: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(720deg);
}
.tag {
  background-color: #e2e2e2;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  float: right;
}
.card2 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  float: right;
}
.card:hover {
  border-color: #f70b16;
}
.card2:hover {
  border-color: #f70b16;
}

.float-me-left{
  float: left;
  margin: .2px;
  border: black 2px solid;

}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.flex-container {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  flex-flow: wrap
}

.location1{
  justify-content: flex-start;
  color: white;
}

.location8{
  justify-content: flex-end;
  color: white;
  float: right;
}

.location .location2 {
  color: white;
  float: left;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex .flex-container {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    flex-flow: row wrap;
}

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

/* Styles for smaller screens */
@media screen and (max-width: 720px) {

  .flex .flex-container {
    display: flex;
    max-width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    flex-flow: row wrap;
}

  header {
    min-height: 250px;
  }

  .nav {
    max-width: 700px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: black;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 700px;
    margin: 40px auto;
  }

}

h1, h2, h3 {
    color: maroon;
    letter-spacing: .5px;
}

.card-title {
    color: maroon;
    text-align: center;
    border: solid black 3px;
    border-radius: 10px;
    margin-top: 50px;
}

#show-form-btn{
  margin-top: 80px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 6px #70A016;
}

#show-form-btn:hover {
  top:1px;
  box-shadow: 0 5px #70A016;
position: relative;
}

#show-form-btn:active {
  top:6px;
  outline: none;
  box-shadow: 0 0px #70A016;
  border:0;
position: relative;

}

#submit-button{
  margin-top: 0px;
  background-color: blue; 
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transform: 360deg;
  box-shadow: 0 6px #0000CD;
}

#submit-button:hover {
  top:1px;
  box-shadow: 0 5px #0000CD;
position: relative;
}

#submit-button:active {
  top:6px;
  outline: none;
  box-shadow: 0 0px #0000CD;
  border:0;
position: relative;

}

#see-places{
  margin-top: 80px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 6px #70A016;
}

#see-places:hover {
  top:1px;
  box-shadow: 0 5px #70A016;
position: relative;
}

#see-places:active {
  top:6px;
  outline: none;
  box-shadow: 0 0px #70A016;
  border:0;
position: relative;

}